@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  /* Light theme*/
  --bg-color: #e3e4f1;
  --border-check-color: #e3e4f1;
  --footer-color: #9495a5;
  --gradient-color-1: hsl(192, 100%, 67%);
  --gradient-color-2: hsl(280, 87%, 65%);

  --todo-font-color: #494c6b;
  --border-r: 5px;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: "Josefin Sans";
}

img {
  width: 100%;
}

picture {
  position: relative;
  z-index: -2;
}

/* utilitie class */

/* :has(input[type="checkbox"]:hover) .gradient {
  background: linear-gradient(
    140deg,
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
} */

.gradient {
  border: thin solid var(--border-check-color);
  border-radius: 50%;
  /* background: linear-gradient(
    140deg,
    var(--gradient-color-1),
    var(--gradient-color-2)
  ); */
  height: 1.5rem;
  width: 1.5rem;
  justify-content: center;
}

.check-todo {
  appearance: none;
  width: 1.35rem;
  height: 1.35rem;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

/* utilitie class */
.todo-container {
  position: relative;
  max-width: 540px;
  margin-inline: auto;
  margin-top: -13.5rem;
}

.todo-header h1 {
  color: white;
  display: inline-block;
  font-size: 2.5rem;
  letter-spacing: 15px;
  margin-right: 20.59rem;
  text-transform: uppercase;
}

.todo-header img {
  width: 1.5rem;
  height: 1.5rem;
}

.todo-form {
  background-color: #fff;
  border-radius: var(--border-r);
  margin-top: 2.5rem;
  padding: 20px 1.5rem;
  width: 100%;
}

.todo-input {
  border: none;
  caret-color: #3a7cfd;
  color: #393a4b;
  font-size: 18px;
  font-family: inherit;
  outline: none;
}

.todo-content {
  background-color: #fff;
  border-radius: var(--border-r);
  margin-top: 1.5rem;
}

.todo {
  border-bottom: thin solid var(--border-check-color);
  color: var(--todo-font-color);
  font-size: 18px;
}

.todo img {
  cursor: pointer;
  height: 1.2rem;
  margin-left: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 1.2rem;
}

.todo:hover img {
  opacity: 1;
}

.todo,
.todo-footer {
  padding: 20px 1.5rem;
}

.todo-footer {
  color: var(--footer-color);
  font-size: 0.875rem;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 18px;
}

.show-todo {
  font-weight: bold;
}

.info-msj {
  font-size: 0.875rem;
  color: var(--footer-color);
  margin-top: 3rem;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
